/* Position and sizing of burger button */

.bm-burger-button {
  position: fixed;
  width: 56px;
  height: 50px;
  left: 36px;
  top: 36px;
  background-color: #373a47;
  border: 10px solid #373a47;
}



/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: rgb(255, 0, 209);
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #b8b7ad;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Individual item */

.menu-item[role="listitem"] {
  display: flex;
  text-align: left;
  font-size: 3vh;
  margin-top: 0.9em;
  font-weight: 600;
  background-color: inherit;
  border: inherit;
  color: rgb(255, 255, 255)
}

.menu-item[role="listitem"]:focus, .menu-item[role="listitem"]:hover {
  outline: 0;
  color: rgb(255, 0, 209);
  cursor: pointer;
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* -----input-search------*/

input {
  display: flex;
  width: 100%;
  padding: 0.3em;
  font-size: 3vh;
  text-align: left;
  border-radius: 2px;
  font-weight: 600;
  margin-top: 0.5em;
}

input:hover, input:focus {
  border: 2px solid rgb(255, 0, 209);
}

.markerInformation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  max-width: 80vw;
}

.InfoWindow-item {
  display: flex;
  list-style-type: none;
}

.label-title {
  font-size: 2.5vh;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  input {
    font-size: 2.5vh;
  }
  .label-title {
    font-size: 2.1vh;
  }
  .menu-item[role="listitem"] {
    font-size: 2.5vh;
  }
}

@media screen and (min-width: 750px) {
  input {
    font-size: 2.2vh;
  }
  .label-title {
    font-size: 1.8vh;
  }
  .menu-item[role="listitem"] {
    font-size: 2.2vh;
  }
}
